/*
 * Parts of this file licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
/*    background-color:#FFA200;
    background-image:linear-gradient(top, #FFA200 0%, #FFDEB3 51%);
    background-image:-webkit-linear-gradient(top, #FFA200 0%, #FFDEB3 51%);
    background-image:-ms-linear-gradient(top, #FFA200 0%, #FFDEB3 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FFA200),
        color-stop(0.51, #FFDEB3)
    );
    background-attachment:fixed;*/
	background-image:url('../img/grey_wash_wall.png');
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
	width:1024px;
	height:768px;
    overflow: none;
}

#header {
    height: 55px;
    margin: 0px;
    padding: 0px;
	background-color: rgba(0,0,0,0.3);
	border-bottom: 1px dashed rgba(210,210,255,0.8);
}

#header .leftButton {
	float: left;
	border-right: 1px dashed rgba(210,210,255,0.8);
}

#header .midContainer {
	float: left;
	width: 60%;
	text-align:center;
	height: 100%;
}

#header .rightButton {
	float: left;
	border-left: 1px dashed rgba(210,210,255,0.8);
}


#header .button {
	background-color: rgba(255,255,255,0.3);
	height: 100%; 
	width: 20%;
	box-sizing:border-box;
	text-align:center;
}

#header 	.button > span {
	display: inline-block;
	margin: 16px auto;
	font-size: 20px;
	color: rgba(255, 255, 255,0.8);
	text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}	

#header #pageTitle {
    font-size: 35px;
	display: inline-block;
    color: rgba(255,255,255,0.9);
    text-shadow: rgba(0,0,0,128) 0 0 0.2em;
    font-weight:normal;
	margin: 8px auto;
}

#maincontent {
    padding: 5px;
    text-align: center;
	font-size: 26px;
}

#sortable:after{
	clear:both; 
	content:'.'; 
	display:block; 
	height:0; 
	line-height:0; 
	font-size:0; 
	visibility:hidden; 
	padding:0; 
	margin:0; 
}




/* Landscape layout (with min-width) */
.app {
    background-position:left center;
}


.status {
    background-color:#333333;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.status.complete {
    background-color:#4B946A;
}

.hide {
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.device { 
	height:140px; 
	width:98%; 
	background-color: rgba(210,210,255,0.5); 
	border-radius: 5px;  
	padding: 6px 1%; 
	margin: 10px 0px; 
	box-shadow:0px 0px 8px #222;
	display: block;
}
.deviceImage {
	width: 10%;
	background-color: white;
	height: 100%;
	float: left;
}
.deviceSchedule {
	width: 90%;
	float: left;
}

.deviceSchedule > div { 
	//background-color: #555555;
	margin: 0px 1%;
	padding: 3px 0px 3px 3px;
	height: 12px; 
	position: relative; 
	width: 98%;
	/*box-shadow:1px 1px 5px #555555;*/ 
	border-radius: 2px;
}

.deviceSchedule > div:nth-child(odd) { 
	background-color: rgba(210,210,255,0.5);
	box-shadow:1px 1px rgba(0,0,0,0.1);
}

.deviceSchedule > div:nth-child(even) { 
	
}

.day { 
	display: inline-block;
	width: 10%; 
	float: left; 
	font-size: 10px; 
	height: 12px; 
}
.time { 
	float: left; 
	position: relative;
	width: 90%;
}
.time > div {
	background-color: rgba(248,255,107,0.4); 
	border-radius:3px; 
	height: 18px;
	position: absolute;
	/*box-shadow:1px 1px 5px #555555;*/ 
	top: -3px;
}
.monday > .hours { background-color: #FFFF00;}
.tuesday > .hours { background-color: #FF00FF;}
.wednesday > .hours { background-color: #00FF00;}
.thursday > .hours { background-color: #00FFFF;}
.friday > .hours { background-color: #0000FF;}
.saturday > .hours { background-color: #F0000F;}
.sunday > .hours { background-color: #550088;}


.addSchedule {
	position: fixed;
	bottom: 0px;
	width: 1024px;
	background-image:url('../img/grey_wash_wall.png');
	background-color: rgba(0,0,0,0.3);
	height: 10px;
}

.addSchedule > img {
		position: relative;
		left: 50%;
		top: -71px;
		background-image:url('../img/grey_wash_wall.png');
		background-color: rgba(0,0,0,0.3);
		height: 55px;
		width: 55px;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		padding: 8px;
}

.footer {
		text-align:center; 
		position:fixed; 
		bottom: 0px; 
		width: 100%; 
		height:50px;
		background-color: rgba(0,0,0,0.3);
		border-top: 1px dashed rgba(210,210,255,0.8);		
}



.deviceon{
		border-color:#52CC29; 
		box-shadow:0 0 70px #52CC29;
		border-width:2px;
}
.deviceoff{
		border-color:#CC0000; 
		box-shadow:0 0 70px #CC0000;
		border-width:2px;
}

ul { 
 		list-style-type: none; 
		margin: 0; 
		padding: 0; 
}
li { 
		margin: 5px; 
		padding: 5px; 
		width: 150px; 
		height: 100px; 
		float:left 
}
#buttondiv1 {
		width:auto; 
		float:left; 
		height:20px; 
}
#buttondiv2 {
		width:auto; 
		float:right; 
		height:20px; 
}
.ui-state-default{
		margin-right:15px; 
		margin-bottom:15px;
}

.thumbnail{
		width:12%; 
		 
		float:left; 
		padding:0px;
		border-radius: 7px; 
		/*
				margin-top:12px; 
		margin-left:5%; 
		margin-bottom:5%;
		*/
}

.ui-state-highlight{
		width:12%; 
		
		float:left; 
		padding:0px;
		border-radius: 7px; 
		border-width:2px;
		background: rgba(179,194,196,0.5);
		border-color:#B3C2C4; 
		box-shadow:0 0 70px #B3C2C4;
		
		/*margin-left:5%; 
		margin-bottom:5%; 
		margin-top:12px; */

}


#maincontentremote{
		padding:13px;
		text-align: center;
		font-size: 26px;
}

.addIcon{
	width:12%; 
	 
	float:left; 
	padding:0px;
	border-radius: 7px; 
	background: rgba(179,194,196,0.5);
	border-width:2px;


	line-height: 100px;
	font-size: 60px;
	font-family:"Arial", Gadget, sans-serif;

/*
margin-left:5%; 
	margin-bottom:5%;
		margin-top:12px; 

	*/
}

.allremoteitems{
	margin-right:20px;
	margin-left:20px; 
	margin-bottom:20px;
	margin-top:20px;
}
