/*
 * Parts of this file licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
/*    background-color:#FFA200;
    background-image:linear-gradient(top, #FFA200 0%, #FFDEB3 51%);
    background-image:-webkit-linear-gradient(top, #FFA200 0%, #FFDEB3 51%);
    background-image:-ms-linear-gradient(top, #FFA200 0%, #FFDEB3 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FFA200),
        color-stop(0.51, #FFDEB3)
    );
    background-attachment:fixed;*/
	//background-attachment:fixed;
	background-image:url('../img/grey_wash_wall.png');
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
	width:1024px;
	height:768px;
    overflow: none;
}

#header {
    min-height: 35px;
    margin: 0px;
    padding: 10px;
    /*background-color:#2D8AEF;
    background-image:linear-gradient(top, #5DBFFF 0%, #2D8AEF 51%);
    background-image:-webkit-linear-gradient(top, #5DBFFF 0%, #2D8AEF 51%);
    background-image:-ms-linear-gradient(top, #5DBFFF 0%, #2D8AEF 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #5DBFFF),
        color-stop(0.51, #2D8AEF)
    );*/
	
	background-color: rgba(0,0,0,0.3);
	border-bottom: 1px dashed rgba(210,210,255,0.8);
}

#maincontent {
    padding: 5px;
    text-align: center;
	font-size: 26px;
}

#sortable:after{
	clear:both; 
	content:'.'; 
	display:block; 
	height:0; 
	line-height:0; 
	font-size:0; 
	visibility:hidden; 
	padding:0; 
	margin:0; 
}

.headerNavButton {
    float: left;
    position: absolute;
}

#pageTitle {
    font-size: 35px;
    color: rgba(255,255,255,0.9);
    text-shadow: rgba(0,0,0,128) 0 0 0.2em;
}

/* Landscape layout (with min-width) */
.app {
    background-position:left center;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.status {
    background-color:#333333;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.status.complete {
    background-color:#4B946A;
}

.hide {
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.device { 
	height:140px; 
	width:98%; 
	background-color: rgba(210,210,255,0.5); 
	border-radius: 5px;  
	padding: 6px 1%; 
	margin: 10px 0px; 
	box-shadow:1px 1px 5px #555555;
}
.deviceImage {
	width: 10%;
	background-color: white;
	height: 100%;
	float: left;
}
.deviceSchedule {
	width: 90%;
	float: left;
}

.deviceSchedule > div { 
	//background-color: #555555;
	margin: 0px 1%;
	padding: 3px;
	height: 12px; 
	position: relative; 
	width: 98%;
	/*box-shadow:1px 1px 5px #555555;*/ 
	border-radius: 2px;
}

.deviceSchedule > div:nth-child(odd) { 
	background-color: rgba(210,210,255,0.5);
	box-shadow:1px 1px rgba(0,0,0,0.1);
}

.deviceSchedule > div:nth-child(even) { 
	
}

.day { 
	display: inline-block;
	width: 10%; 
	float: left; 
	font-size: 10px; 
	height: 12px; 
	margin-left: 5px;
}
.time { 
	float: left; 
	position: relative;
}
.time > div {
	background-color: rgba(248,255,107,0.4); 
	border-radius:3px; 
	height: 18px;
	position: absolute;
	border-right: 1px solid #555555; 
	border-left: 1px solid #555555;
	/*box-shadow:1px 1px 5px #555555;*/ 
	top: -3px;
}
.monday > .hours { background-color: #FFFF00;}
.tuesday > .hours { background-color: #FF00FF;}
.wednesday > .hours { background-color: #00FF00;}
	.thursday > .hours { background-color: #00FFFF;}
	.friday > .hours { background-color: #0000FF;}
	.saturday > .hours { background-color: #F0000F;}
	.sunday > .hours { background-color: #550088;}
		