@font-face {
    font-family: "Calibri Light";
    src: url(../fonts/CalibriL.ttf);
}

.clearfix:after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

#maincontent {
    text-align: inherit;
    padding-right: 0px;
}

#leftSchedulePane {
    float: left;
    border-radius: 2px;
    background-color: rgba(255,255,255, 1);
}

#deviceHeader {
}

#deviceInfo {
    float: left;
}

#deviceImage {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    border-radius: 2px;
}

#deviceName {
    font-size: 40px;
}

#deviceLocation {
    font-size: 24px;
    color: rgb(60,60,60);
}

#scheduleTimeBar {
    width: 700px;
    position: relative;
    top: 5px;
    border-top: 1px solid rgba(0,0,0,.6);
    /*border-bottom: 1px solid rgba(0,0,0,.6);*/
}

.timeBarHour {
    position: relative;
    float: left;
    width: 4.16666666666%;
    height: 30px;
    font-size: 10px;
    background-color: rgb(252,252,252);
}

.timeBarText {
    padding-top: 4px;
    padding-left: 2px;
    font-variant: small-caps;
}

.tallHourMark {
    position: absolute;
    left: 0px;
    top: 18px;
    width: 2px;
    height: 12px;
    background-color: rgba(0,0,0,.5);
}

.shortHourMark {
    position: absolute;
    left: 0px;
    top: 22px;
    width: 2px;
    height: 8px;
    background-color: rgba(0,0,0,.3);
}

.timeBarNight {
    background-color: rgb(220,220,220);
}

.dayRow {
    height: 48px;
    border-top: 1px dashed rgb(150,150,150);
}

.dayNameBox {
    float: left;
    width: 100px;
    margin-left: 20px;
    margin-right: 5px;
    font-size: 40px;
    font-family: "Calibri Light";
}

.dayRowSchedule {
    float: left;
    width: 699px;
    height: 49px;
    border-left: 1px dashed rgb(150,150,150);
}

#rightAddingPane {
    float: right;
    width: 175px;
    padding: 5px;
    background-color: rgba(255,255,255, .5);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#resizable { width: 80px; height: 80px; padding: 0.0em; }
#resizable h3 { text-align: center; margin: 0; }

#resizable1 { width: 80px; height: 80px; padding: 0.0em; }
#resizable1 h3 { text-align: center; margin: 0; }

#leftcolumn { width: 924px; height: 750; border: 1px solid red; float: left}
#rightcolumn { width: 100px; height: 750; border: 1px solid red; float: left}
#weekrow { height:80; border: 1px solid red; }