@font-face {
    font-family: "Calibri Light";
    src: url(../fonts/CalibriL.ttf);
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

#maincontent {
    text-align: inherit;
    background-color: rgba(200,200,200, 0);
}

#leftSchedulePane {
    height: 712px;
    float: left;
    border-radius: 3px;
    background-color: rgba(255,255,255, .9);
}

/* Device information header (contains the schedule time bar, too) */

#deviceHeader {
    height: 110px;
    margin-top: 10px;
    margin-left: 10px;
}

#deviceInfo {
    float: left;
}

#deviceImage {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0px 15px 0px 0px;
    border-radius: 2px;
}

#deviceName {
    font-size: 40px;
}

#deviceLocation {
    font-size: 24px;
    color: rgb(60,60,60);
}

/* Time ruler above the schedule rows */

#scheduleTimeBar {
    width: 731px;
    position: relative;
    top: 5px;
    border-top: 1px solid rgba(0,0,0,.6);
}

.timeBarHour {
    position: relative;
    float: left;
    width: 4.16666666666666666666666666666667%;
    height: 30px;
    font-size: 10px;
    background-color: rgb(252,252,252);
}

.timeBarText {
    padding-top: 4px;
    padding-left: 2px;
    font-variant: small-caps;
}

.tallHourMark {
    position: absolute;
    left: 0px;
    top: 18px;
    width: 2px;
    height: 12px;
    background-color: rgba(0,0,0,.3);
}

.shortHourMark {
    position: absolute;
    left: 0px;
    top: 22px;
    width: 2px;
    height: 8px;
    background-color: rgba(0,0,0,.3);
}

.timeBarNight {
    background-color: rgb(220,220,220);
}

/* The schedule rows */

#scheduleContainer {
    height: 592px;
}

.dayRow {
    box-sizing: border-box;
    height: 14.285714285714285714285714285714%;
    border-top: 1px solid rgb(150,150,150);
	
}
.oddDay{
}
.evenDay{	
    background-color:#F7F7F7;
}

.dayNameBox {
    float: left;
    width: 100px;
    margin-left: 20px;
    margin-right: 5px;
    padding-top: 15px;
    font-size: 42px;
    font-family: "Calibri Light";
}

.dayRowSchedule {
    box-sizing: border-box;
    float: left;
    width: 730px;
    height: 100%;
    border-left: 1px solid rgb(150,150,150);
}

/* Styling for items inside the schedule */

.timeSlot {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 4.16666666666666666666666666666667%;
    height: 100%;
    margin: 0px;
    padding-top: 16px;
    border: 1px solid rgb(200,200,200);
    border-radius: 0px;
    background-color: white;
    font-size: 14px;
    text-align: center;
}

.timeSlot > div {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-variant: small-caps;
}

.turnOnSlot {

}

.turnOffSlot {
    background-color: rgb(64,64,64);
    color: rgb(245,245,245);
}


.ui-state-hover{
    background: rgba(179,194,196,0.5);
    border-color:#B3C2C4; 
    color:#B3C2C4; 
}

.ui-state-active{
    box-shadow:0 0 70px #B3C2C4;
    background: rgba(240,240,240,0.5);
    border-color:#F0F0F0; 
    color:#F0F0F0; 
    box-shadow:0 0 100px #FAFAFA;
}

/* Right sidebar for adding new times */

#rightAddingPane {
    float: right;
    height: 692px;
    padding: 10px;
    background-color: rgba(255,255,255, .9);
    border-radius: 3px;
}

.sidebarItem {
    font-family: "Calibri Light";
    width: 118px;
    height: 114px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid rgb(200,200,200);
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 6px 0px rgba(0,0,0, .25);
    text-align: center;
}

#sidebarDivider {
    border-top: 2px dotted rgba(0,0,0, .3);
    height: 0;
    width: 128px;
    margin: 15px 0 15px 1px;
}

#trashcan {
    box-shadow: none;
}

/* Jeff's stuff */

#resizable { width: 80px; height: 80px; padding: 0.0em; }
#resizable h3 { text-align: center; margin: 0; }

#resizable1 { width: 80px; height: 80px; padding: 0.0em; }
#resizable1 h3 { text-align: center; margin: 0; }

#leftcolumn { width: 924px; height: 750; border: 1px solid red; float: left}
#rightcolumn { width: 100px; height: 750; border: 1px solid red; float: left}
#weekrow { height:80; border: 1px solid red; }